body{
  background-color: rgb(122, 103, 207);

}
.card {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the card */
  width: 400px; /* Adjust as needed */
  padding: 150px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black);
  border-radius: 5px;
  color: white;
}